* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(170, 77, 209);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background: darkviolet;
}

body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.conts {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bgd {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

strong {
  font-size: 26px;
  color: rgb(169, 12, 236);
  margin-top: 80px;
  margin-bottom: 20px;
  display: block;
}

/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  .container {
    padding: 20px !important;
  }
}

/* Small devices (landscape phones, ≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    padding: 20px !important;
  }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 1300px) {
  .container {
    padding: 20px !important;
  }
}
